@import 'Utils/Styles/variables.scss';

.group-page-wrapper {
    padding: 0 10*$base-pixel-size;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .input-content-container {
            background-color: #FFF;
        }
    }

    .empty-groups {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .button-wrapper {
            margin-left: 3*$base-pixel-size;
        }
    }
}

@media screen and (max-width: 480px) {
    .group-page-wrapper {
        padding: 5*$base-pixel-size 3*$base-pixel-size 0;

        .header {
            flex-direction: column;
            align-items: flex-start;

            .input-content-container {
                background-color: #FFF;
            }
        }

        .empty-groups {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .button-wrapper {
                margin-left: 0;
                margin-top: 2*$base-pixel-size;
                width: 100%;
            }
        }
    }
}