@import 'Utils/Styles/variables.scss';

.view-profile-wrapper-mobile {
    .header {
        padding: 2*$base-pixel-size 3*$base-pixel-size 5*$base-pixel-size;

        .options {
            margin-top: 3*$base-pixel-size;
        }

        .button-wrapper {
            margin: 0;
        }
    }

    .profile-content {
        padding: 0 3*$base-pixel-size 3*$base-pixel-size;
    }

    .button-wrapper {
        margin-top: 5*$base-pixel-size;

        .secondary {
            background-color: $error-message-color;
            border-color: $error-message-color;
        }
    }

    .error-message-container {
        background-color: $error-message-color;
    }

    .error-message-container,
    .success-message-container {
        width: 100%;
        padding: 3.5*$base-pixel-size;
        color: #FFF;
    }

    .success-message-container {
        background-color: #44998F;
    }

    .remove {
        .button-wrapper {
            .primary {
                background-color: $error-message-color;
                border-color: $error-message-color;
            }
        }
    }

    .sended {
        .button-wrapper {
            .primary {
                background-color: #44998F;
                border-color: #44998F;
            }
        }
    }

    .invite {
        .button-wrapper {
            .primary {
                background-color: #E9C538;
                border-color: #E9C538;
            }
        }
    }
}