@import 'Utils/Styles/variables.scss';

.setting-template-wrapper-mobile {
    .settings-container-wrapper-mobile {
        padding: 5*$base-pixel-size 3*$base-pixel-size 0;
    }

    .button-wrapper {
        margin: 0 3*$base-pixel-size 3*$base-pixel-size;
    }

    .error-message-container {
        background-color: $error-message-color;
    }

    .error-message-container,
    .success-message-container {
        width: 100%;
        padding: 3.5*$base-pixel-size;
        color: #FFF;
    }

    .success-message-container {
        background-color: #44998F;
    }

    .tab-content-wrapper {
        margin-bottom: 5*$base-pixel-size;
    }
}