@import 'Utils/Styles/variables.scss';

.friend-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $base-pixel-size;
    padding: 2*$base-pixel-size $base-pixel-size;

    .single-friend {
        border-radius: 4px;
        max-height: 53px;
        cursor: pointer;

        img {
            border-radius: 4px;
            width: 100%;
        }

        p {
            word-break: break-all;
            font-size: 14px;
            color: #3A495F;
        }
    }

    .friends-counter {
        background-color: #3A495F;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
}


@media screen and (max-width: 480px) {
    .friends-wrapper {
        background-color: #FFF;
        text-align: center;
        padding: 3*$base-pixel-size;

        .friend-list {
            padding: 2*$base-pixel-size 0 0;
        }

        h1 {
            font-size: 20px;
        }
    }
}