@import 'Utils/Styles/variables.scss';

.info-container {
    width: 100%;
    box-shadow: 0px 6px 16px rgba(54, 121, 157, 0.14);
    border-radius: 4px;
    background-color: #FFF;

    h1 {
        padding: 3*$base-pixel-size;
        border-bottom: 1.5px solid #D4E2EA;
        color: #3A495F;
        font-size: 20px;
        font-family: 'MontserratBold';
    }
}

@media screen and (max-width: 480px) {
    .info-container {
        box-shadow: unset;
        border-radius: 0;

        h1 {
            border-bottom: 0;
            background-color: #F8F9FA;
        }
    }
}