@import 'Utils/Styles/variables.scss';

.post-comment-wrapper {
    border-top: 1.5px solid #D4E2EA;
    padding: 2*$base-pixel-size 3*$base-pixel-size;

    .single-comment-wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: $base-pixel-size;
        border-bottom: 1.5px solid #D4E2EA;
        padding-bottom: $base-pixel-size;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        a {
            color: $link-color;
        }

        p {
            span {
                margin-right: $base-pixel-size;
            }
        }
    }
}