@import 'Utils/Styles/variables.scss';

.invite-page-wrapper {
    padding: 0 10*$base-pixel-size;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: fit-content;
        }

        .error-message-container,
        .success-message-container {
            background-color: $error-message-color;
            height: 38px;
            padding: 0 3*$base-pixel-size;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            p {
                color: #FFF;
            }
        }

        .success-message-container {
            background-color: #44998F;
        }
    }

    .empty-invites {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .button-wrapper {
            margin-left: 3*$base-pixel-size;
        }
    }

    .invite-list-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 5*$base-pixel-size;
        row-gap: 5*$base-pixel-size;
        margin-top: 3*$base-pixel-size;
        padding-bottom: 3*$base-pixel-size;

        .single-invite {
            width: 100%;
            background-color: #FFF;
            box-shadow: 0px 6px 16px rgba(54, 121, 157, 0.14);
            border-radius: 4px;

            .picture-container {
                padding: 3*$base-pixel-size 3*$base-pixel-size $base-pixel-size;

                cursor: pointer;

                img {
                    width: 100%;
                    border-radius: 4px;
                    max-height: 200px;
                }
            }

            p {
                text-align: center;
                border-radius: 0 0 4px 4px;
            }

            .options {
                display: grid;
                grid-template-columns: 1fr;
                gap: $base-pixel-size;
                padding: $base-pixel-size;

                .button-wrapper {
                    button {
                        width: 100%;
                    }

                    &:first-child {
                        button {
                            background-color: $error-message-color;
                            border-color: $error-message-color;
                        }
                    }

                    &:nth-child(2) {
                        button {
                            background-color: #44998F;
                            border-color: #44998F;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .invite-page-wrapper {
        padding: 0;

        .header {
            padding: 5*$base-pixel-size 3*$base-pixel-size 3*$base-pixel-size;

            .search-wrapper {
                margin-top: 2*$base-pixel-size;

                .input-content-container {
                    background-color: #FFF;
                }
            }
        }

        .empty-invites {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .button-wrapper {
                margin-left: 0;
                margin-top: 2*$base-pixel-size;
                width: 100%;
            }
        }

        .person-list-wrapper {
            margin: 0 3*$base-pixel-size;
        }

        .invite-list-container {
            grid-template-columns: 1fr 1fr;
            gap: 3*$base-pixel-size;
            padding: 3*$base-pixel-size;

            .single-invite {
                .picture-container {
                    display: flex;
                    justify-content: center;

                    img {
                        max-height: 75px;
                        max-width: 80%;
                    }
                }

                p {
                    padding: $base-pixel-size 2*$base-pixel-size;
                }
            }
        }
    }
}