@import "Utils/Styles/variables.scss";

.login-page-wrapper {
    display: flex;
    justify-content: center;

    a {
        color: $link-color;
    }

    .content-container {
        width: 40%;
        background-color: #FFF;
        margin-top: 10*$base-pixel-size;
        margin-bottom: 10*$base-pixel-size;
        box-shadow: 0px 6px 16px rgba(54, 121, 157, 0.14);
        border-radius: 4px;

        .error-message-container {
            background-color: $error-message-color;
        }

        .error-message-container,
        .success-message-container {
            width: 100%;
            padding: 3.5*$base-pixel-size;
            color: #FFF;
        }

        .success-message-container {
            background-color: #44998F;
        }

        .form {
            padding: 0 10*$base-pixel-size;


            .button-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 5*$base-pixel-size;
            }

            .input-container {
                .form-input-wrapper {
                    margin-bottom: $base-pixel-size;
                }

                .input-validator {
                    margin-bottom: 3*$base-pixel-size;

                    img {
                        margin-right: $base-pixel-size;
                        height: 10px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        color: #44998F;
                        margin-bottom: $base-pixel-size/2;
                    }
                }
            }
        }

        h1 {
            padding: 10*$base-pixel-size 10*$base-pixel-size 5*$base-pixel-size;
            font-size: 4*$base-pixel-size;
            color: #3A495F;
        }

        .additional-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5*$base-pixel-size;
            border-top: 2px solid #F2F7FA;

            p {
                color: #3A495F;
                font-family: 'MontserratBold';
                margin-bottom: $base-pixel-size;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .login-page-wrapper {
        height: calc(100vh - 8*$base-pixel-size);
        background-color: #FFF;

        .content-container {
            width: 100%;
            margin: 0;
            box-shadow: unset;
            background-color: transparent;

            h1 {
                margin-top: 3*$base-pixel-size;
                padding: 3*$base-pixel-size 3*$base-pixel-size;
            }

            .form {
                padding: 0 3*$base-pixel-size;

                .form-input-wrapper {
                    .input-content-container {
                        background-color: #FFF;
                    }

                    &:nth-child(2) {
                        margin-bottom: 5*$base-pixel-size;
                    }
                }
            }

            .additional-info {
                padding-top: 3*$base-pixel-size;
                border-top: 0;
            }
        }
    }
}