@import 'Utils/Styles/variables.scss';

.nav-bar-wrapper {
    width: 100%;
    box-shadow: 0px 1px 18px 0px #A2B5C14D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3*$base-pixel-size 10*$base-pixel-size;
    align-items: center;
    background-color: #FFF;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 480px) {
    .nav-bar-wrapper {
        padding: 3*$base-pixel-size;
        position: relative;

        .options {
            display: flex;
            flex-direction: row;
            align-items: center;

            .menu-burger {
                width: 4*$base-pixel-size;
            }

            .menu-opened {
                width: 3*$base-pixel-size;
            }

            .menu-list {
                position: fixed;
                top: 87px;
                left: 0;
                width: 100%;
                height: calc(100vh - 87px);
                display: flex;
                flex-direction: column;
                z-index: 999;
                background-color: #F8F9FA;

                a {
                    padding: 2*$base-pixel-size 3*$base-pixel-size;
                    color: $base-gray;
                    text-decoration: none;
                    font-size: 3*$base-pixel-size;
                }
            }
        }
    }
}