@font-face {
  font-family: 'Montserrat';
  src: url('Font/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('Font/Montserrat-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.main-app-wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
}

@media screen and (max-width: 480px) {
  .page-wrapper {
    padding-top: 64px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1 {
  color: #3A495F;
  font-size: 32px;
}