@font-face {
  font-family: 'Montserrat';
  src: url('Font/Montserrat-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.main-app-wrapper {
  min-height: 100vh;
  background-color: #F8F9FA;
}

h1 {
  color: #3A495F;
  font-size: 32px;
}