@import 'Utils/Styles/variables.scss';

.global-users-page-wrapper {
    padding: 0 10*$base-pixel-size;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .input-content-container {
            background-color: #FFF;
        }
    }
}

@media screen and (max-width: 480px) {
    .global-users-page-wrapper {
        padding: 5*$base-pixel-size 3*$base-pixel-size 0;

        .header {
            flex-direction: column;
            align-items: flex-start;
        }


        .button-wrapper {
            width: 100%;
            margin-top: 2*$base-pixel-size;
        }
    }
}